header h1 {
  color: greenyellow;
  text-align: center;
}

header p {
  color: greenyellow;
  text-align: center;
}
h1 .hike {
  width: 30px;
  height: 30px;
  
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: rgb(255, 0, 187);
}
.box4 {
  background-color: rgb(0, 255, 42);
}
.box5 {
  background-color: rgb(242, 255, 0);
}